<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: common_head('Favorites')"></head>
<body>
<div th:replace="fragments.html :: hero('Favorites',null)"></div>
<div class="main-wrapper">
    <section class="service-area">
        <div class="container-fluid">
            <div class="row">
                <div th:each="img : ${favoriteImages}" class="col-md-3 image-col">
                    <div class="single-service">
                        <img class="img-fluid gallery-img" th:src="${img}" src="${img}"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer th:replace="fragments.html :: footer"></footer>
</div>
<th:block th:replace="fragments.html :: scripts"></th:block>
</body>
</html>
