<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: common_head('Pemodule')"></head>
<body>
<div class="main-wrapper-first">
    <div class="hero-area relative">
        <header th:replace="fragments.html :: navbar"></header>
        <div class="banner-area">
            <div class="overlay overlay-bg"></div>
            <div class="container">
                <div class="row height align-items-center justify-content-center">
                    <div class="col-lg-7">
                        <div class="banner-content text-center">
                            <h4 class="text-uppercase">a new era</h4>
                            <h1>of art</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="main-wrapper">

    <section class="service-area">
        <div class="container-fluid">
            <form method="post" th:action="@{/saveFavorites}">
                <div class="row">
                    <div th:each="imageDir : ${imageList}" class="col-md-3 image-col">
                        <a style="display:block"
                           th:href="@{/selectedImage(imageDir=${imageDir})}">
                            <div class="single-service">
                                <img class="img-fluid gallery-img"
                                     th:src="${imageDir}"/>
                            </div>
                        </a>
                        <input type="checkbox" name="selectedImages"
                               th:value="${imageDir}"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Save selected</button>
            </form>
        </div>
    </section>


    <footer th:replace="fragments.html :: footer"></footer>

</div>


<th:block th:replace="fragments.html :: scripts"></th:block>
</body>
</html>