<!DOCTYPE html>
<html lang="zxx" class="no-js" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments.html :: common_head('Pemodule')"></head>
<body>
<div th:replace="fragments.html :: hero('of art','a new era')"></div>
<div class="main-wrapper">

    <section class="service-area">
        <div class="container-fluid">
            <form method="post" th:action="@{/saveFavorites}">
                <div class="row">
                    <div th:each="imageDir : ${imageList}" class="col-md-3 image-col">
                        <a style="display:block"
                           th:href="@{/selectedImage(imageDir=${imageDir})}" href="/selectedImage?imageDir=${imageDir}">
                            <div class="single-service">
                                <img class="img-fluid gallery-img"
                                     th:src="${imageDir}" src="${imageDir}"/>
                            </div>
                        </a>
                        <input type="checkbox" name="selectedImages"
                               th:value="${imageDir}"/>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Save selected</button>
            </form>
        </div>
    </section>


    <footer th:replace="fragments.html :: footer"></footer>

</div>


<th:block th:replace="fragments.html :: scripts"></th:block>
</body>
</html>